#pages_link {
  color: white;
}
.nav_logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
@media all and (max-width: 1024px) {
  .nav_logo {
  }
}
@media all and (max-width: 768px) {
  .nav_logo {
  }
}
@media all and (max-width: 425px) {
  .nav_logo {
    width: 18%;
  }
  #pages_link {
    font-size: 9px;
  }
}
@media all and (max-width: 375px) {
  .nav_logo {
    /* margin-left: 41%; */
  }
  #pages_link {
    font-size: 9px;
  }
}
@media all and (max-width: 320px) {
  .nav_logo {
  }
  #pages_link {
    font-size: 6px;
  }
  .cart_logo {
    width: 50px;
  }
}
