.wrapper {
  display: flex;
}

.wrapper-right-side {
  margin: 9%;
}

.left-side {
  padding: 4%;
  margin-top: 7.5%;
}

.right-side {
  margin-bottom: 20px;
}

.icons-with-parg {
  display: flex;
}

.black-btn {
  background-color: black;
  color: white;
  width: 444px;
  height: 40px;
  border: none;
  border-radius: 100vmax;
  margin-right: 10px;
}

.pink-btn {
  color: white;
  width: 444px;
  height: 40px;
  border: none;
  border-radius: 100vmax;
  background-color: #d11a6f;
  margin-top: 1%;
}

.btn-div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
