.main_footer_box {
  display: flex;
  justify-content: space-between;
}

.main_footer_icons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-left: 6%;
}

.main_footer_icons > img {
  margin-left: 12px;
}

.middle_box {
  margin-top: 4%;
  background-color: rgb(235, 239, 238);
}
.help_box {
  display: flex;
  line-height: 15px;
  margin-left: 2%;
}

.three_parg {
  margin-top: 10%;
}

.string_box {
  margin-top: 2%;
}

.string_box > span {
  margin-bottom: 2%;
}

.img_box {
  max-width: 100%;
  display: block;
  border: 0, solid;
  border-radius: 5%;
  margin-left: 10%;
  position: relative;
  height: 600px;
}

.img_box > img {
  border-radius: 3%;
  height: 350px;
  width: 100%;
}

.white_paper {
  background-color: white;
  width: 318px;
  height: 400px;
  position: absolute;
  bottom: 32%;
  left: 34%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.white_paper > p {
  margin-left: 4%;
}

.mui_tiny_icons {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  margin-left: 3%;
}

.send_btn:hover {
  background-color: #ee0a74 !important;
  border: none;
}

.footer_icon {
  width: 38px !important;
  height: 38px !important;
}

.footer_icon_box {
  margin-left: 3%;
}
