.payment {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  position: absolute;
  bottom: 0px;
}
.payment_card {
  margin-bottom: 90px;
  position: relative;
  margin-top: 50px;
}
.payment_inp {
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px;
}
.pay_btn:hover {
  background-color: rgb(223, 59, 86) !important;
}
@media all and (max-width: 1024px) {
  .payment {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    position: absolute;
    bottom: 0px;
  }
}
@media all and (max-width: 768px) {
  .payment {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: absolute;
    bottom: 0px;
  }
}
