.promo_btn {
  border-radius: 10px;
  background: black;
  color: white;
}
.promo_btn:hover {
  background-color: #ee0a74;
}
.promo2 {
  position: relative;
  margin-left: 2%;
  /* width: 600px;
  height: 400; */
}
.promo_right {
  position: absolute;
  top: 1000px;
  right: 550px;
  color: white;
}
.promo1 {
  position: relative;
  /* width: 600px;
  height: 400; */
}
.promo_left {
  position: absolute;
  top: 920px;
  color: white;
}

.our_brand:hover {
  border: 2px solid rgb(238, 70, 98) !important;
}

@media all and (max-width: 1024px) {
  .promo1 {
    position: relative;
  }
  .promo2 {
    position: relative;
    margin-top: 24px;
    margin-left: 0%;
  }
  .promo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
  }
  .promo_left {
    position: absolute;
    top: 758px;
    right: 404px;
  }
  .promo_right {
    position: absolute;
    top: 947px;
    right: 230px;
  }
}
@media all and (max-width: 768px) {
  .promo_left {
    position: absolute;
    right: 280px;
    top: 654px;
  }
  .promo_right {
    position: absolute;
    right: 81px;
    top: 897px;
  }
}
@media all and (max-width: 425px) {
  /* .promo_left {
    position: absolute;
    right: 280px;
    top: 654px;
  }
  .promo_right {
    position: absolute;
    right: 81px;
    top: 897px;
  }
  .promo1 {
    position: relative;
  }
  .promo2 {
    position: relative;
    margin-top: 24px;
  }
  .promo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
  } */
  .promo_img {
    height: 225px !important;
    width: 342px !important;
  }
}
