.notFound_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.notFound_wrapper span {
  font-size: 45px;
  color: #d11a6f;
}

@media all and (max-width: 769px) {
  .notFound_wrapper span {
    font-size: 35px;
  }
}
@media all and (max-width: 426px) {
  .notFound_wrapper span {
    font-size: 20px;
    margin-top: 20px;
  }
}
@media all and (max-width: 376px) {
  .notFound_wrapper span {
    font-size: 18px;
    margin-top: 20px;
  }
}
@media all and (max-width: 321px) {
  .notFound_wrapper span {
    font-size: 16px;
    margin-top: 20px;
  }
  .notFound_wrapper {
    margin-top: 50px;
  }
}
